$pad : 0.2rem;
$extra : calc(#{$pad} * 1.2);
$thick : 3px;

html{
    font-size: 62.5%;
}

.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 80%;
}

main{
    font-family: 'Merriweather', sans-serif;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

h1,
h3,
h4{
    margin: 0;
}

.works__willow--pic,
.works__willow--desc{
    width: 50%;
}

.nav__sidebar{
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    right: 5%;
    bottom: 5%;
    text-align: right;

    li{
        list-style-type: none;
        text-decoration: none;
        margin-bottom: 20px;

        i{
            color: #fa3297;
            font-size: 2.3rem;
        }
    }


}

.hide{
    visibility: hidden;
}