header{
    background: #1d1c1c;
    height: 100vh;  
    clip-path: polygon(50% 0%, 100% 0, 100% 73%, 88% 100%, 37% 91%, 0 83%, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 73%, 88% 100%, 37% 91%, 0 83%, 0 0);
    text-align: center;
    display: flex;
	flex-direction: column;
	overflow: hidden;
}

*, *:after,*:before{
	box-sizing: inherit;
}

.open{
	position: fixed;
	top: 40px;
	right: 40px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
	span{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 40px;
		border-radius: 40px;
		background-color: #fff;
		position: absolute;
		right: 3px;
		top: 3px;
		overflow: hidden;
		transition: all 0.4s ease;
		&:nth-child(1){
			margin-top: 10px;
			z-index: 9;
		}
		&:nth-child(2){
			margin-top: 25px;
		}
		&:nth-child(3){
			margin-top: 40px;
		}
	}
}
.sub-menu{
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		height: 0;
		width: 0;
		right: 0;
		top: 0;
		position: absolute;
        background-color: #fa3297;
		border-radius: 50%;
		z-index: 18;
		overflow: hidden;

		li{
			display: block;
			float: right;
			clear: both;
			height: auto;
			margin-right: -160px;
			transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			&:first-child{
				margin-top: 180px;
			}
			&:nth-child(1){
				transition-delay: 0.05s;
			}
			&:nth-child(2){
				transition-delay: 0.10s;
			}
			&:nth-child(3){
				transition-delay: 0.15s;
			}
			&:nth-child(4){
				transition-delay: 0.20s;
			}
			&:nth-child(5){
				transition-delay: 0.25s;
			}
			a{
				color: #fff;
				font-family: 'Merriweather', sans-serif;
				font-size: 2rem;
				width: 100%;
				display: block;
				float: left;
				line-height: 40px;
			}
		}
    }
    
.oppenned{
		.sub-menu{
			opacity: 1;
			height: 400px;
			width: 400px;
		}
		span:nth-child(2){
			overflow: visible;
		}
		span:nth-child(1), span:nth-child(3){
			z-index: 100;
			transform: rotate(45deg);
		}
		span:nth-child(1){
			transform: rotate(45deg) translateY(12px) translateX(12px);
		}
		span:nth-child(2){
			height: 400px;
			width: 400px;
			right: -160px;
			top: -160px;
			border-radius: 50%;
            background-color: #FF1E50;
		}
		span:nth-child(3){			
			transform: rotate(-45deg) translateY(-10px) translateX(10px);
		}
		li{
			margin-right: 168px;
		}
	}

.mobileNav{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1.3px;
	display: none;
}
	
.mobileNav__links{
	display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
	padding: 20px 10px;
	
	& a{
		text-decoration: none;
		font-size: 2.5rem;
		color: white;
		padding: 25px;
	}

	& a:hover{
		color: #fa3297;
	}
}	

.giuseppe{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 15rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 40px;   
}

.spartico{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 15rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding-left: 130px;
	margin: 0;
	position: relative;
}

.title{
    color: white;
    position: relative;
    transform: rotate(-45deg);
    right: 505px;
    bottom: 255px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 6rem;   
}

.socials{
    color: white;
    display: flex;
    position: absolute;
	bottom: 230px;
    right: 80px;
    transform: rotate(45deg);
}

.socials li{
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}
.pulse:hover {
  box-shadow: 0 0 0 #fa3297;
  animation: pulse 0.8s infinite;
  border-radius: 50%;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(250,50,151, 0.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(250,50,151, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(250,50,151, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(250,50,151, 0.7);
    box-shadow: 0 0 0 0 rgba(250,50,151, 0.7);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(250,50,151, 0);
      box-shadow: 0 0 0 10px rgba(250,50,151, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(250,50,151, 0);
      box-shadow: 0 0 0 0 rgba(250,50,151, 0);
  }
}

i {
    color: white;  
    font-size: 3rem;
    display: inline-block;
}