@media (max-width: 1380px){
    .socials{
        right: 45px;
    }
}

@media (max-width: 1330px){
    .title{
        transform: none;
        left: 155px;
        bottom: 30px;
    }

    .socials{
        transform: none;
        right: 305px;
        bottom: 120px;
    }
}

@media (max-width: 1250px){
    .oppenned .sub-menu {
    height: 370px;
    width: 340px;
    }

    .oppenned span:nth-child(2) {
    height: 370px;
    width: 340px;
    }

    .firebase{
        margin-left: 40px;
    }

    .marvel__divide{
        width: 305px;
        left: 35%;
    }

    .video__divide{
        width: 271px;
        left: 36.8%;
    }

    .horror__divide{
        width: 240px;
        left: 38.4%;
        top: 53%;
    }

    .willow__divide{
        left: 36%;
    }

    .marvel__pic img,
    .horror__pic img{
        height: 90%;
        margin-top: 25px;
    }

    .willow__pic img,
    .video__pic img{
        height: 91%;
        margin-top: 25px;
    }
}

@media (max-width: 1150px){
    .marvel__divide{
        width: 320px;
        left: 33%;
    }

    .video__divide{
        width: 263px;
        left: 36%;
    }

    .horror__divide{
        width: 258px;
        left: 36.4%;
    }

    .willow__divide{
        left: 35%;
    }
}

@media (max-width: 1100px){

    .socials{
        right: 195px;
    }

    .about__content p{
        font-size: 1.7rem;
    }

    .about__content img{
        width: 35%;
    }
}

@media (max-width: 1000px){
    .marvel__divide{
        width: 320px;
        left: 30.4%;
    }

    .video__divide{
        width: 263px;
        left: 34%;
    }

    .horror__divide{
        width: 258px;
        left: 34.4%;
    }

    .willow__divide{
        left: 32.7%;
    }

    .willow__desc h3, 
    .marvel__desc h3, 
    .video__desc h3, 
    .horror__desc h3{
        font-size: 2.4rem;
    }

    .willow__desc h4, 
    .marvel__desc h4, 
    .video__desc h4, 
    .horror__desc h4 {
        font-size: 1.5rem;
    }

    .marvel__pic img,
    .horror__pic img{
        height: 85%;
        margin-top: 25px;
    }

    .willow__pic img,
    .video__pic img{
        height: 85%;
        margin-top: 33px;
    }
}

@media (max-width: 900px){
    .about__content p{
        font-size: 1.6rem;
    }

    .about__content img{
        width: 40%;
    }

    .firebase{
        margin-left: 12px;
    }

    #work{
        margin: 0;
    }

    .willow, .marvel, .video, .horror {
        flex-direction: column;
    }

    .willow__desc, 
    .marvel__desc, 
    .video__desc, 
    .horror__desc{
        text-align: center;
        width: 100%;

        & p{
            margin-bottom: 25px;
        }
    }

    .marvel__desc,
    .horror__desc{
        margin-right: 0;
    }

    .willow__desc, 
    .video__desc {
        margin-left: 0;
    }

    .willow__desc h3, 
    .marvel__desc h3, 
    .video__desc h3, 
    .horror__desc h3 {
        border-bottom: 2px solid #fa3297;
        margin-bottom: 40px;
        font-size: 2.8rem;
    }

    .marvel__pic, 
    .horror__pic,
    .video__pic, 
    .willow__pic{
        display: none;

        &--mobile{
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;

            & img{
                height: 90%;
            }
        }
    }

    .marvel__divide,
    .video__divide,
    .horror__divide,
    .willow__divide{
        display: none;
    }

    .form__emailName{
        flex-direction: column;
    }

    .name,
    .email{
        width: 100%;
        text-align: center;
    }

    .email{
        padding-left: 0;
        margin-top: 40px;
    }

    ::placeholder{
        text-align: center;
    }
}    

@media (max-width: 800px){
    .open,
    .socials,
    .nav__sidebar{
        visibility: hidden;
    }

    // .mobileNav{
    //     display: block;
    // }

    .works__why p{
        font-size: 1.7rem;
    }
}