@media (max-width: 1380px){
    .socials{
        right: 45px;
    }
}

@media (max-width: 1330px){
    .title{
        transform: none;
        left: 155px;
        bottom: 30px;
    }

    .socials{
        transform: none;
        right: 305px;
        bottom: 130px;
    }
}

@media (max-width: 1250px){
    .oppenned .sub-menu {
    height: 370px;
    width: 340px;
    }

    .oppenned span:nth-child(2) {
    height: 370px;
    width: 340px;
    }

    // .willow,
    // .marvel,
    // .video,
    // .horror{
    //     &__divide{
    //         top: 51%;
    //         left: 36%;
    //         // width: 285px;
    //     }
    // }

    .marvel__divide{
        width: 305px;
        left: 35%;
    }

    .video__divide{
        width: 271px;
        left: 36.8%;
    }

    .horror__divide{
        width: 240px;
        left: 38.4%;
        top: 53%;
    }

    .willow__divide{
        left: 36%;
    }
}