@media (max-width: 1380px){
    .socials{
        right: 45px;
    }
}

@media (max-width: 1330px){
    .title{
        transform: none;
        left: 155px;
        bottom: 30px;
    }

    .socials{
        transform: none;
        right: 305px;
        bottom: 120px;
    }
}

@media (max-width: 1250px){
    .oppenned .sub-menu {
    height: 370px;
    width: 340px;
    }

    .oppenned span:nth-child(2) {
    height: 370px;
    width: 340px;
    }

    .marvel__divide{
        width: 305px;
        left: 35%;
    }

    .video__divide{
        width: 271px;
        left: 36.8%;
    }

    .horror__divide{
        width: 240px;
        left: 38.4%;
        top: 53%;
    }

    .willow__divide{
        left: 36%;
    }
}

@media (max-width: 1150px){
    .marvel__divide{
        width: 320px;
        left: 33%;
    }

    .video__divide{
        width: 263px;
        left: 36%;
    }

    .horror__divide{
        width: 258px;
        left: 36.4%;
    }

    .willow__divide{
        left: 35%;
    }
}

@media (max-width: 1100px){

    .socials{
        right: 195px;
    }

    .marvel__pic img,
    .horror__pic img{
        height: 90%;
        margin-top: 25px;
    }

    .willow__pic img,
    .video__pic img{
        height: 91%;
        margin-top: 25px;
    }
}