.skills{
    display: flex;
    background: black;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.skills__icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills li{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin: 30px;
    width: calc(20% - 60px);
}

.skills i{
    font-size: 7rem;
    color: #fa3297;
}

.firebase{
    margin-left: 50px;
    color: #fa3297;
}

.skills span{
    margin-top: 13px;
}

.skills__svg{
    path{
        stroke: #fa3297;
        fill: #fa3297;
        stroke-dasharray: 263;
        animation: animate 7s cubic-bezier(0, .23, 1, .1); 
    }

    @keyframes animate {
        0%{
            opacity: 0;
            fill: none;
            stroke-dashoffset: 273;
        }

        30%{
            opacity: 10;
            fill: none;
            stroke-dashoffset: 273;
        }

        90%{
            fill: #fa3297;
        }

        100%{
            fill: #fa3297;
        }
    }
}
