.works{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__why{
        display: flex;
        justify-content: center;
        align-items: center;

        & img{
            width: 10%;
        }

        & p{
            margin: 0 15px;
            font-size: 2rem;
        }

        & span{
            color: #fa3297;
        }

    }
}

img.works__why--zoid{
          width: 11%;
}

#work{
    width: 40%;
    margin: 30px 30px 40px 0;
}

.willow,
.marvel,
.video,
.horror{

        display: flex;
        margin-bottom: 70px;
        position: relative;

        &__desc{
            padding-top: 10px;
            font-size: 1.7rem;
            letter-spacing: 0.5px;
            line-height: 1.5;
            width: 50%;

                & h3{
                    font-size: 2.8rem;
                    border-bottom: 2px solid black;
                    margin-bottom: 20px;
                }

                & h4{
                  font-size: 1.6rem
                }
                
                & p {
                    margin: 15px 0 7px 0;
                  
                }

                & span{
                    color: #fa3297;
                    font-size: 2rem;
                }
        }

        &__divide{
            border-top: 5px solid #fa3297;
            transform: rotate(90deg);
            width: 285px;
            position: absolute;
            left: 37%;
            top: 52%;
        }

        &__pic{
            width: 50%;

            &--mobile{
                display: none;
            }
        }
    }

.willow__desc,
.video__desc{
    margin-left: 60px;
}

.marvel__desc,
.horror__desc{
    margin-right: 60px;
    text-align: right;
}

.willow__desc a,
.marvel__desc a,
.video__desc a,
.horror__desc a{
    padding: $pad $extra;
    display: inline-block;
    border: $thick solid transparent;
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 5px;

    .text {
      color: black;
      transform: translate3d(0,$pad,0);
      display: block;
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
      padding: 3px;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -$thick;
      left: $extra;
      right: $extra;
      height: $thick;
      background: #fa3297;
      transition: 
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
      transform-origin: left;
    }
}

.line {
    position: absolute;
    background: #fa3297;

    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(1,0,1);
    }  

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0,1,1);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
      transform-origin: right;
    }  
}

.willow__desc a:hover,
.willow__desc a:active,
.marvel__desc a:hover,
.marvel_desc a:active,
.video__desc a:hover,
.video__desc a:active,
.horror__desc a:hover,
.horror__desc a:active{

    .text {
      transform: translate3d(0,0,0);
      transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      transform: scale3d(0,1,1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition: 
        transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
        right 0.2s cubic-bezier(1,0,.65,1.01),
        left 0s 0.3s;
    }

    .line {
      transform: scale3d(1,1,1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
        transform-origin: left;
      }
    }

}

.willow__pic img,
.video__pic img{
    max-width: 100%;
    margin-top: 10px;
    height: 100%;
}

.marvel__pic img,
.horror__pic img{
    max-width: 100%;
    margin-top: 10px;
    height: 100%;
}