article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%; }

main {
  font-family: 'Merriweather', sans-serif; }

a {
  text-decoration: none;
  list-style-type: none;
  color: black; }

h1,
h3,
h4 {
  margin: 0; }

.works__willow--pic,
.works__willow--desc {
  width: 50%; }

.hide {
  visibility: hidden; }

header {
  background: #1d1c1c;
  height: 100vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 73%, 88% 100%, 37% 91%, 0 83%, 0 0);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 73%, 88% 100%, 37% 91%, 0 83%, 0 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  .open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: #fff;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .open span:nth-child(1) {
      margin-top: 10px;
      z-index: 9; }
    .open span:nth-child(2) {
      margin-top: 25px; }
    .open span:nth-child(3) {
      margin-top: 40px; }

.sub-menu {
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #fa3297;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden; }
  .sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .sub-menu li:first-child {
      margin-top: 180px; }
    .sub-menu li:nth-child(1) {
      -webkit-transition-delay: 0.05s;
      -o-transition-delay: 0.05s;
      transition-delay: 0.05s; }
    .sub-menu li:nth-child(2) {
      -webkit-transition-delay: 0.10s;
      -o-transition-delay: 0.10s;
      transition-delay: 0.10s; }
    .sub-menu li:nth-child(3) {
      -webkit-transition-delay: 0.15s;
      -o-transition-delay: 0.15s;
      transition-delay: 0.15s; }
    .sub-menu li:nth-child(4) {
      -webkit-transition-delay: 0.20s;
      -o-transition-delay: 0.20s;
      transition-delay: 0.20s; }
    .sub-menu li:nth-child(5) {
      -webkit-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      transition-delay: 0.25s; }
    .sub-menu li a {
      color: #fff;
      font-family: 'Merriweather', sans-serif;
      font-size: 2rem;
      width: 100%;
      display: block;
      float: left;
      line-height: 40px; }

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px; }

.oppenned span:nth-child(2) {
  overflow: visible; }

.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
  -ms-transform: rotate(45deg) translateY(12px) translateX(12px);
  transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: #FF1E50; }

.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
  -ms-transform: rotate(-45deg) translateY(-10px) translateX(10px);
  transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li {
  margin-right: 168px; }

.giuseppe {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 15rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 40px; }

.spartico {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 15rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-left: 130px;
  margin: 0;
  position: relative; }

.title {
  color: white;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 505px;
  bottom: 255px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 6rem; }

.socials {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 230px;
  right: 87px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.socials li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none; }

.pulse:hover {
  -webkit-box-shadow: 0 0 0 #fa3297;
  box-shadow: 0 0 0 #fa3297;
  -webkit-animation: pulse 0.8s infinite;
  animation: pulse 0.8s infinite;
  border-radius: 50%; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(250, 50, 151, 0.7); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(250, 50, 151, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(250, 50, 151, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(250, 50, 151, 0.7);
    -webkit-box-shadow: 0 0 0 0 rgba(250, 50, 151, 0.7);
    box-shadow: 0 0 0 0 rgba(250, 50, 151, 0.7); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(250, 50, 151, 0);
    -webkit-box-shadow: 0 0 0 10px rgba(250, 50, 151, 0);
    box-shadow: 0 0 0 10px rgba(250, 50, 151, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(250, 50, 151, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(250, 50, 151, 0);
    box-shadow: 0 0 0 0 rgba(250, 50, 151, 0); } }

i {
  color: white;
  font-size: 3rem;
  display: inline-block; }

.about {
  text-align: center; }

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px; }
  .about__content img {
    width: 30%;
    margin-right: 20px; }
  .about__content p {
    width: 50%;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.9rem;
    letter-spacing: 1.3px;
    line-height: 1.5;
    padding: 25px;
    margin-left: 20px; }
  .about__content span {
    color: #fa3297; }

.elementToHide {
  opacity: 0; }

.revealOnScroll svg {
  opacity: 1;
  -webkit-animation-name: revealOnScroll;
  animation-name: revealOnScroll; }
  .revealOnScroll svg path {
    stroke: #fa3297;
    fill: #fa3297;
    stroke-dasharray: 263;
    -webkit-animation: revealOnScroll 2s cubic-bezier(0, 0.23, 1, 0.1);
    animation: revealOnScroll 2s cubic-bezier(0, 0.23, 1, 0.1); }

@-webkit-keyframes revealOnScroll {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 273; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 273; }
  90% {
    fill: #fa3297; }
  100% {
    fill: #fa3297; } }

@keyframes revealOnScroll {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 273; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 273; }
  90% {
    fill: #fa3297; }
  100% {
    fill: #fa3297; } }

nav ul {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  right: 5%;
  bottom: 5%;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease; }

nav ul.showicons {
  opacity: 1; }

nav li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 20px; }

nav i {
  color: #fa3297;
  font-size: 2.3rem; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skills__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 40px; }

.skills li {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.8rem;
  margin: 30px;
  width: calc(20% - 60px); }

.skills i {
  font-size: 7rem;
  color: #fa3297; }

.firebase {
  margin-left: 50px;
  color: #fa3297; }

.skills span {
  margin-top: 13px; }

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .works__why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .works__why img {
      width: 10%; }
    .works__why p {
      margin: 0 15px;
      font-size: 2rem; }
    .works__why span {
      color: #fa3297; }

img.works__why--zoid {
  width: 11%; }

#work {
  width: 40%;
  margin: 30px 30px 40px 0; }

.willow,
.marvel,
.video,
.horror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  position: relative; }
  .willow__desc,
  .marvel__desc,
  .video__desc,
  .horror__desc {
    padding: 0 30px;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    line-height: 1.5; }
    .willow__desc h3,
    .marvel__desc h3,
    .video__desc h3,
    .horror__desc h3 {
      font-size: 2.8rem;
      border-bottom: 2px solid black;
      margin-bottom: 20px; }
    .willow__desc h4,
    .marvel__desc h4,
    .video__desc h4,
    .horror__desc h4 {
      font-size: 1.6rem; }
    .willow__desc p,
    .marvel__desc p,
    .video__desc p,
    .horror__desc p {
      margin: 15px 0 7px 0; }
    .willow__desc span,
    .marvel__desc span,
    .video__desc span,
    .horror__desc span {
      color: #fa3297;
      font-size: 2rem; }
  .willow__divide,
  .marvel__divide,
  .video__divide,
  .horror__divide {
    border-top: 5px solid #fa3297;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 280px;
    position: absolute;
    left: 37%;
    top: 50%; }

.willow__desc,
.video__desc {
  margin-left: 30px; }

.marvel__desc,
.horror__desc {
  margin-right: 30px;
  text-align: right; }

.willow__desc a,
.marvel__desc a,
.video__desc a,
.horror__desc a {
  padding: 0.2rem calc(0.2rem * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 5px; }
  .willow__desc a .text,
  .marvel__desc a .text,
  .video__desc a .text,
  .horror__desc a .text {
    color: black;
    -webkit-transform: translate3d(0, 0.2rem, 0);
    transform: translate3d(0, 0.2rem, 0);
    display: block;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    transition: -webkit-transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    -o-transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s, -webkit-transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    padding: 3px; }
  .willow__desc a:after,
  .marvel__desc a:after,
  .video__desc a:after,
  .horror__desc a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.2rem * 1.2);
    right: calc(0.2rem * 1.2);
    height: 3px;
    background: #fa3297;
    -webkit-transition: right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, -webkit-transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s;
    transition: right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, -webkit-transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s;
    -o-transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, -webkit-transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left; }

.line {
  position: absolute;
  background: #fa3297; }
  .line.-right, .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1); }
  .line.-top, .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .line.-right {
    right: -3px;
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    -o-transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s, -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  .line.-top {
    top: -3px;
    -webkit-transition: -webkit-transform 0.08s linear 0.43s;
    transition: -webkit-transform 0.08s linear 0.43s;
    -o-transition: transform 0.08s linear 0.43s;
    transition: transform 0.08s linear 0.43s;
    transition: transform 0.08s linear 0.43s, -webkit-transform 0.08s linear 0.43s;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left; }
  .line.-left {
    left: -3px;
    -webkit-transition: -webkit-transform 0.08s linear 0.51s;
    transition: -webkit-transform 0.08s linear 0.51s;
    -o-transition: transform 0.08s linear 0.51s;
    transition: transform 0.08s linear 0.51s;
    transition: transform 0.08s linear 0.51s, -webkit-transform 0.08s linear 0.51s;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .line.-bottom {
    bottom: -3px;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    -o-transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01), -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right; }

.willow__desc a:hover .text,
.willow__desc a:active .text,
.marvel__desc a:hover .text,
.marvel_desc a:active .text,
.video__desc a:hover .text,
.video__desc a:active .text,
.horror__desc a:hover .text,
.horror__desc a:active .text {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: -webkit-transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  -o-transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s, -webkit-transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s; }

.willow__desc a:hover:after,
.willow__desc a:active:after,
.marvel__desc a:hover:after,
.marvel_desc a:active:after,
.video__desc a:hover:after,
.video__desc a:active:after,
.horror__desc a:hover:after,
.horror__desc a:active:after {
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
  transition: right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
  -o-transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s; }

.willow__desc a:hover .line,
.willow__desc a:active .line,
.marvel__desc a:hover .line,
.marvel_desc a:active .line,
.video__desc a:hover .line,
.video__desc a:active .line,
.horror__desc a:hover .line,
.horror__desc a:active .line {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }
  .willow__desc a:hover .line.-right,
  .willow__desc a:active .line.-right,
  .marvel__desc a:hover .line.-right,
  .marvel_desc a:active .line.-right,
  .video__desc a:hover .line.-right,
  .video__desc a:active .line.-right,
  .horror__desc a:hover .line.-right,
  .horror__desc a:active .line.-right {
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    -o-transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s, -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .willow__desc a:hover .line.-top,
  .willow__desc a:active .line.-top,
  .marvel__desc a:hover .line.-top,
  .marvel_desc a:active .line.-top,
  .video__desc a:hover .line.-top,
  .video__desc a:active .line.-top,
  .horror__desc a:hover .line.-top,
  .horror__desc a:active .line.-top {
    -webkit-transition: -webkit-transform 0.08s linear 0.4s;
    transition: -webkit-transform 0.08s linear 0.4s;
    -o-transition: transform 0.08s linear 0.4s;
    transition: transform 0.08s linear 0.4s;
    transition: transform 0.08s linear 0.4s, -webkit-transform 0.08s linear 0.4s;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right; }
  .willow__desc a:hover .line.-left,
  .willow__desc a:active .line.-left,
  .marvel__desc a:hover .line.-left,
  .marvel_desc a:active .line.-left,
  .video__desc a:hover .line.-left,
  .video__desc a:active .line.-left,
  .horror__desc a:hover .line.-left,
  .horror__desc a:active .line.-left {
    -webkit-transition: -webkit-transform 0.08s linear 0.48s;
    transition: -webkit-transform 0.08s linear 0.48s;
    -o-transition: transform 0.08s linear 0.48s;
    transition: transform 0.08s linear 0.48s;
    transition: transform 0.08s linear 0.48s, -webkit-transform 0.08s linear 0.48s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  .willow__desc a:hover .line.-bottom,
  .willow__desc a:active .line.-bottom,
  .marvel__desc a:hover .line.-bottom,
  .marvel_desc a:active .line.-bottom,
  .video__desc a:hover .line.-bottom,
  .video__desc a:active .line.-bottom,
  .horror__desc a:hover .line.-bottom,
  .horror__desc a:active .line.-bottom {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transition: -webkit-transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    -o-transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s, -webkit-transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left; }

.willow__pic img,
.video__pic img {
  max-width: 100%;
  margin-top: 20px;
  margin-left: 10px; }

.marvel__pic img,
.horror__pic img {
  max-width: 100%;
  margin-top: 20px;
  margin-right: 10px; }

.contact {
  background: black;
  text-align: center; }
  .contact__form {
    width: 100%;
    border: none;
    padding-bottom: 40px; }
    .contact__form input,
    .contact__form textarea {
      background: transparent;
      margin-top: 10px;
      padding: 10px;
      border-color: transparent;
      border-bottom: 2px solid #fa3297;
      font-size: 2rem;
      outline: none;
      color: white; }
    .contact__form label {
      font-size: 2.5rem;
      margin-bottom: 15px; }

input:required {
  -webkit-box-shadow: none;
  box-shadow: none; }

.form p {
  color: white;
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 0; }

.form a {
  color: white;
  text-decoration: none;
  font-size: 2.8rem;
  margin-bottom: 15px; }

.form span {
  color: #fa3297; }

.form__reachMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__emailName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  color: white;
  position: relative; }

.name,
.email {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left; }

.name {
  padding-right: 30px; }

.email {
  padding-left: 30px; }

.form__message {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40px; }
  .form__message textarea {
    resize: none; }

.form__send {
  margin-top: 40px;
  border: none;
  width: 100%;
  margin-bottom: 30px; }
  .form__send input {
    margin: 0;
    font-size: 2.3rem;
    border: 2px solid #fa3297;
    width: 20%; }

input, textarea {
  -webkit-transition: all 0.40s ease-in-out;
  -moz-transition: all 0.40s ease-in-out;
  -ms-transition: all 0.40s ease-in-out;
  -o-transition: all 0.40s ease-in-out;
  transition: all 0.40s ease-in-out;
  outline: none; }

input:focus, textarea:focus {
  -webkit-box-shadow: 0 0 5px #fa3297;
  box-shadow: 0 0 5px #fa3297;
  border: 2px solid #fa3297; }

form .toTop {
  font-size: 2.1rem; }

footer {
  background: black;
  text-align: center;
  font-size: 1.7rem;
  color: #fa3297;
  padding-bottom: 15px; }
